*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;;
}

html , body{
    height: 100%;
    width:100%;
    background-color: black;
    color: white;
}

.loader{
    width:100%;
    height:100vh;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    position:fixed;
    display:flex;
    z-index: 99;
}

.loader h1{
    color:white;
    font-size: 100px;
    font-family: 'Gilroy';
    font-weight: 900;
}

.page1{
    width:100%;
    height:100vh;
    position: relative;
    
}

.page1 video{
    object-fit: cover;
    width:100%;
    height:100%;
    position: absolute;
    border: none;
    
}

.cursor{
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.cursor h5{
    font-size: 1.15vw;
    font-weight: 100;
}

.page1content{
    width: 100%;
    height: 100%;
    /* background-color: rgb(0, 0, 0); */
    position:relative;
    z-index: 10;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5vw;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    font-family: 2vh;
    list-style: disc;

}

nav h4{
    font-weight: 100;
}
.page1hidden{
    display: none;
}
.page1hidden{
    width:200px;
    height:500px;
    background-color: blue;
    z-index:11;
}
.hover:hover + .page1hidden{
    display: block;
}
.heading{
    font-weight: 150;
    font-size: 50vh;
    padding-bottom:2vh ;
    display: flex;
}

.page2{
    width:100%;
    height:100vh;
}

.page2Head{
    padding: 5vw 3.5vw;
    display: flex;
    flex-direction: column;
}
.page2Head h3{
    font-size: 2vw;
    font-weight: 200;
}
.page2Head hr{
    margin-top: 2vh;
}
.page2Head span{
    display:flex;
    justify-content: space-between;
}

.page2paragraph{
    font-size: 4.5vw;
    font-weight: 150;
}
.page3{
    width:100vw;
    min-height: 100vh;
}
.page3-top{
    padding-top: 10vh;
    text-align: center;
}
.page3-top h4{
    font-size: 1rem;
    font-weight: 100;
}
.page3-top h4 span{
    padding: 0.5rem;
    background-color: black;
    border-radius: 1rem;
    color: white;
}
.page3-top h2{
    margin: 0.5rem;
    font-size: 4rem;
    font-weight: 400;
}
.page3-bottom-content{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.page3-bottom-content h2{
    padding: 5vw 2vw  0 2vw;
    font-size: 2rem;
    font-weight: 90;
}
.page3-bottom-cards{
    display:flex;
    gap:1rem;
    padding: 1vw 2vw 0 2vw; 
}
.box{

    width:100%;
    height:80vh;
    border-radius: 1rem;
    position:relative;
    
}
.box img{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    z-index:6;
    object-position:center ;
    position: absolute;
    transition: all linear 0.8s ;
}
.box video{
    width:100%;
    height:100%;
    object-fit: fill;
    overflow: hidden;
    z-index:5;
    object-fit: fill;
    object-position:center;
    position: absolute;
}
.box img:hover{
   opacity:0;
}
.page4{
    width:100vw;
    height: 100vh;
    position: relative;
}
.page4video video{
    padding-top: 2vw;
    width:100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    -webkit-filter: blur(0.4vw);  
    opacity: 50%;
    z-index: -1;
}
.page4content{
    padding-top: 5vw;
}
.page4heading{
    padding-top: 5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page4heading span h3{
    font-size: 2vw;
    font-weight: 100;
}
.page4heading span{
    padding-bottom: 1vw;
}
.page4heading .paragraph2{
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
    line-height: 5.5vw;
    font-weight: 150;
    padding-top: 1vw;
}


.page5{
    padding-top:20vw;
    width:100vw;
    position:relative;
    background-color: rgb(0, 0, 0);
    
}
.page5imagewrapper{
    display: flex;
    flex-direction: column;
}
.page5 span{
    padding: 0 2vw;}

.page5 span h1{
    font-size: 7.5vw;
    font-weight:500 ;
    padding: 0 2vw;
}
.page5 span hr{
    padding:0 2vw;
    margin: 1vw 2vw;
    color: white;
}
.page5images{
    padding-left: 1vw;
    padding:0;
    width:120%;
    height:80vh;
    background-color:transparent;
}

.swiper {
    margin-top: -2%;
    width: 130%;
}

.swiper-slide {
    padding:0 4vw;
    width:120%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: -5%;
}

.swiper-slide img {
    display: inline-block;
    width: 10%;
    object-fit: cover;
}

.swiper {
    margin-left: 0;
    margin-right:0;
    padding: 0 10vw;
}

.meet{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom:15vw;
    margin-bottom:20vh;
}
.meet h4{
    font-size: 2vw;
}
.meet h1{
    font-size: 5vw;
    font-weight: 500;
    margin-top: 0.5vw;
    
}
.meet h1::after{
    content: "";
    position: absolute;
    height: 1vw;
    width: 0;
    bottom:0;
    top:0;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.meet h1:hover::after{
    width:80%;
}

.hrlast{
    padding-left: 2vw;
    padding-right: 2vw;
}


.page6{
    color: black;
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-decoration: none;
}
.page6top{
    display: flex;
    justify-content: space-between;
    padding: 0 2vw;
    height: 33vh;
}
.page6top span {
    padding-top: 2vw;
    display: flex;
    gap: 15vw;
    font-size: 1.5vw;
    font-weight: 400;
    
}
.page6menu1 {
    display: flex;
    flex-direction: column;
}
.page6menu2{
    display: flex;
    flex-direction: column;
}

.page6menu1 a , .page6menu2 a {
    text-decoration: none;
    color: black;
}
.span1{
    display: flex;
    flex-direction: column;
    row-gap: 3vw ;
    padding-top: 2vw;
}

.span1 h1{
    font-size: 2vw;
    font-weight: 600;
}

.span1 button{
    font-size: 1.2vw;
    font-weight: 550 ;
    color:rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255);
    border:0.25vw solid black;
    width:10vw;
    height:5vw;
    border-radius: 1.5vw ;
    transition: all 0.2s ease;
}
.span1 button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border:0.25vw solid rgb(255, 255, 255);
}


.page6middle{
    width:100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mspan1 h3{
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: 0.8vw;
}

.mspan2{
    width:33vw;
    padding : 0 2vw;
    display: flex;
    justify-content: space-between;
}

.page6bottom{
    width: 100vw;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height:47vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;

}
.page6heading{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 5vw
}



